.content{
    background-color: #B0C4DF;
} 

.admin-panel .other{ 
    box-shadow: 2px 2px rgba(0, 0, 0, 0.16);
}

.p_login .p_login_middle, .content{
    background-color: #B0C4DF;
    background-image: url(../../../../../custom/themes/SuiteP/images/lightning_blue_background.png);
    /* background-repeat: no-repeat, repeat; */
}

.p_login .p_login_middle, .content{
    background-color: #B0C4DF;
    background-image: url(../../../../../custom/themes/SuiteP/images/lightning_blue_background.png);
    background-repeat: repeat-x;
}

html{
    background-color: #1B5F9E;
}

body{
    background-color: #B0C4DF;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.bootstrap-container {
    margin-top: 60px;
}

.p_login_bottom{
    background: var(--lwc-colorBackgroundDockedPanel,rgb(255, 255, 255)) !important;
    box-shadow: var(--lwc-shadowDocked,0 -2px 2px 0 rgba(0, 0, 0, 0.16));
}

footer.collapsedSidebar{
    background: var(--lwc-colorBackgroundDockedPanel,rgb(255, 255, 255)) !important;
    box-shadow: var(--lwc-shadowDocked,0 -2px 2px 0 rgba(0, 0, 0, 0.16));
}

.p_login_top{
    background-color: #102442 !important;
}

.input-group input{
    box-shadow: var(--lwc-shadowDocked,0 -2px 2px 0 rgba(0, 0, 0, 0.16));
}

.list-view-rounded-corners{
    overflow-x: auto;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.16);
}

#MassAssign_SecurityGroups, .tab-inline-pagination,
.edit-view-pagination-desktop-container > .edit-view-pagination{
    display: none !important;
}

.panel-default{
    box-shadow: 2px 2px rgba(0, 0, 0, 0.16);
}

.detail-view > .tab-content{
    box-shadow: 2px 2px rgba(0, 0, 0, 0.16);
}

input.btn-primary, .tab-actions, input.button, #tab-actions > a.dropdown-toggle,
.content #tab-actions > .dropdown-menu , .content #tab-actions > .dropdown-menu .button,
.content #tab-actions > .dropdown-menu a, .buttons .button, .button,
#save_and_continue.button, .buttons input#btn_view_change_log{
    background-color: #F2930D;
    color: #FFFFFF !important;

}

input.btn-primary:hover, #tab-actions > a.dropdown-toggle:hover, input.button:hover, 
.button:hover, #save_and_continue.button:hover, .buttons input#btn_view_change_log:hover{
    background-color: #bb700a !important;
    color: #FFFFFF !important;
}

.navbar-inverse .dropdown-menu li a:hover, .topnav a:hover,
.desktop_notifications > .btn-success:hover,
.navbar-search .searchbutton:hover,
.globalLinks-desktop .user-menu-button:hover,
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav > li > a.with-home-icon:hover,
.favorite{
    color: #F2930D;
}

.navbar-inverse .nav > .topnav.with-actions > span.notCurrentTab > a:hover {
    border-top: 3px solid #F2930D !important;
}

.navbar-inverse .nav > .topnav > span.currentTab > a {
    display: inline-block;
    border-top: 3px solid #F2930D !important;
    color: #F2930D;
}


.navbar-inverse {
    background-color: #102442 !important;
}

.topnav:hover, .navbar-inverse .dropdown-menu li a:hover, .topnav a:hover,
.navbar-inverse .nav > .topnav.with-actions > span.notCurrentTab > a,
.navbar-inverse .nav > .topnav.with-actions > span.notCurrentTab > .dropdown-menu,
.navbar-inverse .nav > .topnav.with-actions > span.notCurrentTab > ul,
.navbar-inverse .nav > .topnav.with-actions, .navbar-inverse .dropdown-menu,
.navbar-inverse .dropdown-menu > li > a, .desktop_notifications > .btn-success,
.globalLinks-desktop .user-menu-button, .navbar-inverse .dropdown-menu li a,
.mobile-bar, .globalLinks-mobile > .btn-default.usermenucollapsed,
.desktop_notifications .alertsButton {
    background-color: #102442 !important;
}

.globalLinks-desktop .suitepicon-action-current-user,
.desktop_notifications > .btn-success {
    font-size: 30px;
}

.create.quickcreatetop .dropdown-toggle {
    background-color: #102442;
}

li.active > a, li.active > a:hover,
.dashletPanel .h3Row, .panel-default > .panel-heading,
.list thead{
    background-color: #2577b1 !important;
    color: #FFFFFF !important;
}

#pageContainer .dashletcontainer .pagination td,
.list #pagination td .paginationTable .paginationChangeButtons {
    background-color: #9ac7e6;
}

div::-webkit-scrollbar-thumb{
    background-color: #9ac7e6 !important;
    color: #FFFFFF !important;
}

.list #pagination td .paginationTable .paginationActionButtons {
    background-color: #9ac7e6;
}

.sidebar {
    background-color: #6886ae;
    color: #FFFFFF;
}

.sidebar .actionMenuSidebar li a {
    background-color: #8bb3e8;
}

.sidebar .actionMenuSidebar li a:hover {
    background-color: #7aa7e4 !important;
}

.button-toggle-expanded, .button-toggle-collapsed {
    background-color: #6886ae;
    color: #FFFFFF;
}

.moduleTitle{
    background-color: #F3F2F2;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.16);
}

.module-title-text{
    text-transform: none !important;
    font-size: 22px !important;
    font-weight: bold !important;
}

.panel-heading a.collapsed {
    background-color: #FFFFFF;
    color: black;
}

div.p_login .p_login_top a {
    background-image: url("../../../../../custom/themes/SuiteP/images/logo-vinhomes-white.svg");
    background-repeat: no-repeat;
    background-size: 44%;
}

.list-view-rounded-corners > table{
    border-radius: 4px;
    box-shadow: var(--lwc-shadowDocked,0 -2px 2px 0 rgba(0, 0, 0, 0.16));
    
}

#selectLinkTop li.sugar_action_button, #selectLinkBottom li.sugar_action_button,
.listViewLinkButton li.sugar_action_button, #actionLinkBottom li.sugar_action_button,
#actionLinkTop li.sugar_action_button, .paginationTable .list-view-pagination-button,
#selectLinkTop > .sugar_action_button > ul.subnav,
#selectLinkTop > .sugar_action_button > ul.subnav > li,
#selectLinkTop > .sugar_action_button > ul.subnav> li > a,
#actionLinkTop > .sugar_action_button > .subnav,
#actionLinkTop > .sugar_action_button > .subnav > li,
#actionLinkTop > .sugar_action_button > .subnav > li > a,
#selectLinkBottom > .sugar_action_button > ul.subnav,
#selectLinkBottom > .sugar_action_button > ul.subnav > li,
#selectLinkBottom > .sugar_action_button > ul.subnav> li > a,
#actionLinkBottom > .sugar_action_button > .subnav,
#actionLinkBottom > .sugar_action_button > .subnav > li,
#actionLinkBottom > .sugar_action_button > .subnav > li > a {
    background-color: #6698c3;
    color: #FFFFFF;
}

#selectLinkTop li.sugar_action_button:hover, .listViewLinkButton li.sugar_action_button:hover,
#selectLinkBottom li.sugar_action_button:hover, #actionLinkBottom li.sugar_action_button:hover,
#actionLinkTop li.sugar_action_button:hover,
#selectLinkTop > .sugar_action_button > ul.subnav> li > a:hover,
#actionLinkTop > .sugar_action_button > .subnav > li > a:hover,
#selectLinkBottom > .sugar_action_button > ul.subnav> li > a:hover,
#actionLinkBottom > .sugar_action_button > .subnav > li > a:hover,
#actionLinkTop .sugar_action_button .subnav.ddopen a:hover,
#actionLinkBottom .sugar_action_button .subnav.ddopen a:hover{
    background-color: #518bbd;
    color: #FFFFFF;
}

.selectActionsDisabled{
    background-color: #518bbd;
}

.suitepicon:before,.button-toggle-expanded span:before,.button-toggle-collapsed span:before,.panel-heading a.collapsed:before,.panel-heading a:before {
    vertical-align: middle;
}

a, .table-responsive.list > tbody > tr > td > a {
    color: var(--lwc-brandTextLinkActive,rgb(0, 95, 178));
}

a:hover, .table-responsive.list > tbody > tr > td > a:hover {
    color: var(--lwc-brandTextLinkActive,rgb(0, 95, 178));
}

.table-responsive.list > tbody > tr > td > a {
    border-bottom-color: var(--lwc-brandTextLinkActive,rgb(0, 95, 178));
    border-bottom: none;
}

.detail-view-field {
    background-color: #eaf7ff;
}

input[type=text], textarea , input[type=number], input[type=decimal]
, input[type=date], input[type=datetime]{
    background: #eaf7ff;
}

.dcQuickEdit > tbody > tr > td > div{
    display: none;
}

#fs_custom_header_buttons{
    float: right;
    padding-top: 9px;
    padding-right: 5px;
    display: inline-flex;
}

#fs_custom_header_buttons > button{
    text-transform: none;
    margin-right: 2px;
}

#fs_custom_header_buttons > div{
    width: 30px;
    border-radius: 4px;
}

#fs_custom_header_buttons > div > a{
    line-height: 32px;
    display: block;
    border-radius: 4px;
}

#fs_custom_header_buttons > div > a > span{
    line-height: 0px !important;
    font-size: 15px !important;
    margin-left: 5px !important;
}

#fs_custom_header_buttons > input{
    margin-right: 2px;
}

#fs_custom_header_buttons > #edit_button,
#fs_custom_header_buttons > #duplicate_button{
    text-transform: none;
}

.bootstrap-container.col-sm-offset-3 {
    margin-top: 60px;
}

.button, input[type=button], input[type=submit]{
    padding: 0 10px 0 10px;
    text-transform: none;
}

.moduleTitle .module-title-text {
    margin-left: 10px;
}

.panel-default.sub-panel > .panel-heading > a[aria-expanded=false] {
    color: black;
}

div#content div#pagecontent form#MassUpdate table.list.view tbody tr td {
    font-weight: normal;
}

div#content div#pagecontent form#MassUpdate table.list.view tbody tr td[field=name] {
    min-width: 140px;
}

.btn.btn-primary{
    margin-bottom: 0px ;
}

@-webkit-keyframes spinner-border {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner-border {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.text-primary {
    color: #007bff!important;
}

.spinner-border {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    vertical-align: text-bottom;
    border: .5em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
    margin-left: 100px;
}

textarea {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

#select_actions_disabled_top, 
#select_actions_disabled_bottom,
#employees_link,
#training_link,
#about_link,
ul[name=selectActions]{
    display: none !important;
}

#btn_view_change_log_custom, #btn_view_change_log{
    letter-spacing: 1px !important;
}

.user-menu[role=menu] li:first-child a{
    display: none !important;
}

#edit_button{
    background-color: #F2930D;
}

#ChangePasswordForm > table > tbody > tr > td > table{
    width: 450px;
}

#ChangePasswordForm > table > tbody > tr > td > table #post_error{
    display: none;
}

#ChangePasswordForm > table > tbody > tr > td > table img{
    display: none;
}

#ChangePasswordForm > table > tbody > tr > td > table table{
    border-radius: 4px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.16);
}

#alerts{
    width: 260px;
}

.alert-header{
    padding: 5px !important;
    background-color: #23468c !important;
}

.alert-body{
    padding: 5px !important;
}

#copyright_data,.serverstats{
    display: none;
}

.p_login_bottom #admin_options,.p_login_bottom #powered_by{
    display: none;
}

