#allocate_matrix_header{
    height: 50px;
    width: 100%;
    background-color: #FFFFFF;
    min-width: 1200px;
    min-height: 50px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.16);
}

#allocate_matrix_header > span{
    height: auto;
    line-height: 45px;
    font-size: 22px !important;
    font-weight: bold !important;
}

#allocate_matrix_header_button{
    float: right;
    padding-top: 9px;
    padding-right: 5px;
    display: inline-flex;
}

#allocate_matrix_body{
    min-height: 550px;
    width: 100%;
    background-color: #FFFFFF;
    min-width: 1200px;
    min-height: 550px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.16);
    margin-top: 10px;
    padding-bottom: 20px;
}

#pagecontent{
    overflow: auto;
}

#allocate_matrix_table{
    width: 97%;
    margin-left: 10px;
    font-size: 12px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #0892e4;
    padding-left: 3px;
}

th {
    text-align: center;
}

#allocate_choose_departments{
    width: 230px;
    position: fixed;
    top: 30%;
    min-height: 100px;
    right: 0;
    display: flex;
}

#allocate_choose_departments_btn{
    width: 40px;
    background-color: #479ac9;
    height: 35px;
    border-radius: 4px 0px 0px 4px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.16);
    margin-top: 30px;
}

#allocate_choose_departments_content{
    width: 190px;
    float: right;
    background-color: #479ac9;
    min-height: 150px;
    border-radius: 4px 0px 0px 4px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.16);
    max-height: 550px;
    overflow: auto;
}

#allocate_choose_departments_header{
    color: #FFFFFF;
    font-weight: bold;
    padding-left: 10px;
    display: inline-block;
    width: 190px;
    height: 19px;
    line-height: 29px;
}

#allocate_choose_departments_hr{
    margin-top: 5px;
    margin-bottom: 0;
    background-color: #FFFFFF;
}

#allocate_choose_departments_btn_hide{
    color: #FFFFFF;
    line-height: 35px;
    font-size: 20px;
    padding-left: 10px;
}

#allocate_choose_departments_btn_show{
    color: #FFFFFF;
    line-height: 35px;
    font-size: 20px;
    padding-left: 10px;
}

.droptarget {
    float: left; 
    width: 200px; 
    min-height: 35px;
    border: 1px solid #5c52ee;
    display: block;
}

.drag_item{
    border: 1px solid #5c52ee;
    min-width: 40px; 
    min-height: 10px;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    padding: 2px 2px 2px 2px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.16);
}

.droptarget_dept {
    float: left; 
    width: 200px; 
    min-height: 35px;
    /* border: 1px solid #5c52ee; */
    display: block;
}

.drag_item_dept{
    border: 1px solid #5c52ee;
    min-width: 40px; 
    min-height: 10px;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    padding: 2px 2px 2px 2px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.16);
}

.droptarget_allocate{
    float: left; 
    width: 100%; 
    min-height: 35px;
    /* border: 1px solid #aaaaaa; */
    display: block;
}

.drag_item_allocate{
    border: 1px solid #5c52ee;
    min-width: 40px; 
    min-height: 10px;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    padding: 2px 2px 2px 2px;
    background-color: #cfefff;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.16);
}

table#allocate_matrix_table tr td:first-child{
    font-weight: bold;
    text-align: center;
}