
#MassUpdate{
    display: none;
}

#custom_list_view_organization_personnel{
    background-color: #FFFFFF;
    margin-top: 20px;
    border-radius: 4px;
    padding-bottom: 20px;
    min-height: 500px;
}

#custom_headers{
    display: inline-flex;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    #custom_headers {
        display: block;
    }
}

#custom_headers > div{
    width: 25%;
}

#custom_contents{
    padding-left: 10px;
}

#custom_contents > table{
    width: 95%;
}

#custom_contents > table {
    border-collapse: collapse;
}

#custom_contents > table, th, td {
    line-height: 25px;
    border: 1px solid #29a0d5;
    padding-left: 5px;
}

#custom_contents > table {
    line-height: 25px;
    margin-top: 20px;
}

#custom_contents > table >tbody > tr > th{
    line-height: 30px;
    text-align: center;
    background-color: #2577b1 !important;
    color: #FFFFFF;
    padding-left: 5px;
}

#create_user_modal_table{
    border: none;
    width: 100%;
}

#create_user_modal_table > tbody,
#create_user_modal_table > tbody > tr,
#create_user_modal_table > tbody >tr > td{
    border: none;
}

#create_user_modal_table > tbody >tr > td:first{
    width: 30%;
}

/* Add padding to container elements */
.create_user_container {
    padding: 8px;
}
  
/* Clear floats */
.create_user_clearfix::after {
    content: "";
    /* clear: both; */
    display: table;
}

/* Full-width input fields */
#create_user_email, #create_user_password, 
#create_user_repassword, .create_user_text, .create_user_type {
    width: 100% !important;
    padding: 10px !important;
    margin: 5px 0 8px 0 !important;
    display: inline-block;
    border: none;
    background: #f1f1f1 !important;
}

#create_user_email:focus, #create_user_password:focus, 
#create_user_repassword:focus, .create_user_text:focus {
    background-color: #ddd !important;
    outline: none !important;
}

#actionMenuSidebar{
    display: none;
}