#custom_header_info {
    width: 100%;
    background-color: #FFFFFF;
    line-height: 25px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.16);
    padding-top: 10px;
    padding-bottom: 10px;
}

.moduleTitle{
    background-color: #eaf7ff;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.16);
}

#custom_header_workflow {
    width: 100%;
    background-color: #FFFFFF;
    line-height: 40px;
    border-radius: 4px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.16);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

#custom_header_info > div {
    width: 200px;
    display: inline-table;
}

#custom_header_info > div > div {
    padding-left: 10px;
    max-width: 200px;
    overflow: hidden;
}

.fs_color_link{
    color: #19aaff;
}

.content .detail-view .tab-content {
    /* box-shadow: 1px 1px; */
}

/* Breadcrups CSS Workflow*/
.fs_workflow_clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.fs_workflow_container {
	/* font-family: 'Lato', sans-serif;
	width: 1000px;
	margin: 0 auto; */
}

.fs_workflow_wrapper {
	/* display: table-cell;
	height: 400px;
	vertical-align: middle; */
}

.fs_workflow_nav {
	margin-top: 40px;
}

.fs_workflow_pull-right {
	float: right;
}

.fs_workflow_arrow-steps .fs_workflow_step {
	font-size: 14px;
	text-align: center;
	color: #666;
	cursor: default;
	margin: 0 3px;
	padding: 10px 10px 10px 30px;
	min-width: 180px;
	float: left;
	position: relative;
	background-color: #d9e3f7;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
    transition: background-color 0.2s ease;
    line-height: 16px;
    cursor: pointer;
}

.fs_workflow_arrow-steps .fs_workflow_step:after,
.fs_workflow_arrow-steps .fs_workflow_step:before {
	content: " ";
	position: absolute;
	top: 0;
	right: -17px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 17px solid #d9e3f7;	
	z-index: 2;
    transition: border-color 0.2s ease;
}

.fs_workflow_arrow-steps .fs_workflow_step:before {
	right: auto;
	left: 0;
	border-left: 17px solid #fff;	
	z-index: 0;
}

.fs_workflow_arrow-steps .fs_workflow_step:first-child:before {
	border: none;
}

.fs_workflow_arrow-steps .fs_workflow_step:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.fs_workflow_arrow-steps .fs_workflow_step span {
	position: relative;
}

.fs_workflow_arrow-steps .fs_workflow_step span:before {
	opacity: 0;
	content: "✔";
	position: absolute;
	top: -2px;
	left: -20px;
}

.fs_workflow_arrow-steps .fs_workflow_step.fs_workflow_done span:before {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0.5s;
	-moz-transition: opacity 0.3s ease 0.5s;
	-ms-transition: opacity 0.3s ease 0.5s;
	transition: opacity 0.3s ease 0.5s;
}

.fs_workflow_arrow-steps .fs_workflow_step.fs_workflow_current {
	color: #fff;
	background-color: #23468c;
}

.fs_workflow_arrow-steps .fs_workflow_step.fs_workflow_current:after {
	border-left: 17px solid #23468c;	
}

.fs_workflow_mark_status  {
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	cursor: default;
	margin: 0 3px;
	padding: 10px 15px 10px 15px;
	min-width: 180px;
	float: left;
	position: relative;
	background-color: #d9e3f7;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
    transition: background-color 0.2s ease;
    line-height: 16px;
    background-color: #23468c;
    position: relative;
    margin-left: 30px;
    border-radius: 4px;
    cursor: pointer;
}

#fs_workflow_desc span{
    font-weight: bold;
}

#fs_workflow_desc div{
    line-height: 15px;
}

#fs_workflow_desc p{
    line-height: 10px;
}

.fs_workflow_desc_ul{
    list-style-type: circle;
    padding-left: 20px;
    line-height: 20px;
}

.fs_workflow_step:hover{
    background-color: #acc2ee;
}
.fs_workflow_step:hover:after{
	border-left: 17px solid #acc2ee;	
}

.fs_workflow_step.fs_workflow_completed {
	color: #fff;
	background-color: #2ccb5d;
}

.fs_workflow_step.fs_workflow_completed:after {
	border-left: 17px solid #2ccb5d;	
}

.fs_workflow_completed:hover{
	/* background-color: rgb(4, 132, 75); */
}

.fs_workflow_arrow_current_border, .fs_workflow_arrow_current_border:after {
	border-left:#23468c;	
}

#btn_vin_lead_owner_c, #btn_clr_vin_lead_owner_c,
#btn_vin_sales_dept_of_owner_c, #btn_clr_vin_sales_dept_of_owner_c,
#btn_vin_sales_dept_c, #btn_clr_vin_sales_dept_c,
#btn_vin_sales_in_charge_c, #btn_clr_vin_sales_in_charge_c{
	display: none;
}

.duplicate_warning_msg{
	background-color: #FFFFFF;
	font-size: 16px;
	/* line-height: 35px; */
	border-radius: 0px 0px 4px 4px;
	display: none;
}

.duplicate_warning_msg span{
	margin-left: 10px;
}

.duplicate_warning_msg span span{
	margin-left: 0px;
	cursor: pointer;
	color: blue;
	font-style: oblique;
	text-decoration: underline;
}

#list_duplicate_modal_table, #list_duplicate_modal_data{
	width: 100%;
	display: contents;
}

#list_duplicate_modal_table > tbody > tr > td, 
#list_duplicate_modal_data > tbody > tr > td,
#list_duplicate_modal_table > tbody > tr > th, 
#list_duplicate_modal_data > tbody > tr > th{
	padding-right: 5px;
}

.list_duplicate_tr_header{
	background-color: #5c859e;
    color: #FFFFFF;
}

#list_duplicate_modal_data a{
	font-weight: bold;
}

#btn_change_owner_button, #btn_lead_change_owner{
	display: none !important;
}